.paginaSfondo {
    background-color: #F6F6F6;
}

.paginaCat {
    overflow: auto;
    background-color: #F6F6F6;
    min-height: 470px;
}

.contenutoPren {
    height: auto;
}

.contenuto {
    float: right;
    width: 1150px;
    height: auto;
    margin-right: 40px;
}

.prod {
    border: solid;
    border-width: 1px;
    border-color: #D7D7D7;
    padding: 10px 10px 10px 10px;
    margin: 40px;
    height: 350px;
}

.prodPren {
    border: solid;
    border-width: 1px;
    border-color: #D7D7D7;
    padding: 10px 10px 10px 10px;
    margin: 40px;
    height: 500px;
}

.prodPren .imagePren {
    float: left;
    text-align: left;
    width: auto;
}

.prodPren .imagePren .imagefrmPren {
    height: 400px;
    box-shadow: 10px 10px .9px #dedede;
}

.prod .image {
    float: left;
    text-align: left;
    width: auto;
}

.prod .image .imagefrm {
    width: 350px;
    box-shadow:  10px  10px .9px #dedede;
}

.prod .info{
    margin-left: 350px;
    width: 350px;
    text-align: center;
}

.metaPren {
    margin-left: 780px;
    list-style-type: none;
    width: 400px;
}

.meta {
    margin-left: 350px;
    list-style-type: none;
    width: 350px;
    height: 200px;
}

.prodPren .titlePren {
    margin-top: 20px;
    color: #A2B70D;
}

.contenuto .prod .title {
    margin-top: 20px;
    color: #A2B70D;
}

.prod .noPrenotazione{
    float: right;
    background-color: #D7D7D7;
    width: 350px;
    height: 200px;
}

.prod .okPrenotazione{
    float: right;
    background-color: #F6F6F6;
    width: 350px;
    height: 200px;
    border: solid;
    border-width: 1px;
    border-color: #D7D7D7;
}

.prodPren .formPren {
    float: right;
    background-color: #F6F6F6;
    width: 350px;
    height: 350px;
    border: solid;
    border-width: 1px;
    border-color: #D7D7D7;
}

.prod .modifica{
    float: right;
    background-color: #a2b70d40;
    width: 350px;
    height: 200px;
}

.sidebarFiltri{
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px 10px 10px 10px;
    height: auto;
    float: left;
    width: 250px;
    background-color: #F6F6F6;
    border-color: #D7D7D7;
    border-style: solid;
    border-width: 1px;
}

.sidebarTitolo{
    color: #A2B70D;
    width: auto;
    margin-top: 20px;
    text-align: center;
}

.sidebarFiltri .metaFiltri{
    list-style-type: none;
}

.formFiltri{
    margin-top: 30px;
    margin-bottom: 30px;
}

.formTitolo {
    text-align: center;
}
