.paginaCat {
    width: 1010px;
    
    margin: 10px auto;
    background-color: #DADADA;
}


.contenuto {
    float: right;
    width: 750px;
    height: auto;
}

.prod {
    padding: 10px 10px 10px 10px;
    margin: 10px;
    height: auto;
}

.prod .image {
    float: left;
    text-align: left;
    width: auto;
}

.prod .image .imagefrm {
    width: 350px;
}

.prod .info{
    margin-left: 350px;
    width: auto;
}

.prod .info .meta {
    margin-left: 10px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: italic;
    list-style-type: none;
    color: #000000;
}

.contenuto .prod .title {
    margin-top: 20px;
    color: #000000;
}

.sidebarFiltri{
    margin-left: 10px;
    margin-top: 40px;
    height: auto;
    float: left;
    width: 250px;
    background-color: #FF0000;
    border-color: #000000;
    border-style: groove;
}

.sidebarFiltri .metaFiltri{
    list-style-type: none;
}
